*{
    margin: 0;
    padding: 0;
}
body{
background-color: rgb(3, 3, 24);
color: white;
font-family: 'Poppins', sans-serif;
}

nav{
  display: inline-block;
      color: white;
      text-decoration: none;
      margin-left: 35px;
    }

nav a{
  display: inline-block;
      color: white;
      text-decoration: none;
      margin-left: 35px;
}
main hr{
border: 0;
background: rgb(110, 58, 206);
height: 1.2px;
margin: 40px 84px;
}

nav  a:hover{
  color: aqua;
    font-size:1.5rem;
}
.home{
font-size: 1.5rem;
padding:20px 0;
}
.right{
  padding:20px 0;
}
.firstSection{
display: flex;
justify-content: space-around;
align-items: center;
margin: 100px 0;
}
.firstSection >div{
width: 30%;
}
.leftSection{
font-size: 2rem;
}
.leftSection .buttons{
padding: 50px 0;
}
.leftSection .btn{
padding: 12px;
background-color: #110367;
color: white;
border: 2px solid;
border-radius: 4px;
font-size: 15px;
}

.leftSection i{
padding: 12px;
}
.rightsection{
  display: flex;
  justify-content: space-bet;
  align-items: center;
  margin: 100px 0;
}


.purple{
color: rgb(155, 73, 231);
}
.text-gray{
color: gray;
}
#element{
color: rgb(155, 73, 231);
}
.secondSection{
max-width: 80vw;
margin: auto;
height: 80vh;
}
.secondSection h1{
font-size: 1.9rem;
}

.secondSection .box{
background-color: white;
width: 76vw;
height: 2px;
margin: 56px 0;
display: flex;
}

.secondSection .vertical{
height: 93px;
width: 1px;
background-color: white;
margin: 0 120px;
}

.image-top{
width: 23px;
position: relative;
top: -32px;
left: -9px;
}

.vertical-text{
position: relative;
top: 70px;
width: 150px;

}

.vertical-desc{
position: relative;
top: 74px;
color: gray;
width: 150px;
font-size: 9px
}
footer{
background-color: #04040c;
}
.footer{
display: flex;
padding: 23px 122px;
justify-content: space-evenly;
}
.footer ul{
list-style: none;
}

.footer > div{
width: 223px;
}

footer .footer-rights{
text-align: center;
color: gray;
padding: 12px 0;
}
